// Import Google fonts

@import url('https://fonts.googleapis.com/css?family=Lobster|Montserrat');

// Define fonts for body and headers
$body-font: "Montserrat", "sans-serif";
$headers-font: "Montserrat";

// To use a font file (.woff) uncomment following lines
@font-face { font-family: CircularStd-Black; src: url('CircularStd-Black.ttf'); }
@font-face { font-family: SFProText-Bold; src: url('SFProText-Bold.otf'); }
@font-face { font-family: SFProText-Light; src: url('SFProText-Light.otf'); }
@font-face { font-family: SFProText-Regular; src: url('SFProText-Regular.otf'); }
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";
