<div class="text-center">

<h3>Merci pour votre inscription <%=@user.prenom%>
  <%= @user.name %> </h3>

<p>Envoyer votre courrier simplement. Réduiser vos couts. Gagnez du temps.</p>

<%= link_to 'Réduire mes coûts', "https://www.timply.fr", class: "btn   btn-cta center-block" %>
</div>
