<div class="text-center">
 <%= image_tag "logo.png", height: 50 %>
<h3>Merci pour votre inscription <%=@user.prenom%>
  <%= @user.name %> </h3>

<p>Envoyer votre courrier simplement. Réduiser vos couts. Gagne' du temps.</p>

<%= link_to 'Réduire mes coûts', home_path, class: "btn   btn-cta center-block" %>
</div>
