<div class="text-center">

<h3>Merci pour votre inscription <%= @user.prenom %>
  <%= @user.name %> </h3>

<p>Envoyez votre courrier simplement. Réduisez vos couts. Gagnez du temps.</p>

<%= link_to 'Commencer à réduire mes coûts', "https://www.timply.fr", class: "btn   btn-cta center-block" %>
</div>
