
.dashboard_upcard {
    width: 33%;
    background-color: #308edc;
    margin-top: 2%;
    margin-left: 33%;
    border-radius: 9px;
}


.dashboard_upcard h2 {
        margin-top: 1px;
    padding-top: 19px;
    font-size: 30px;
    color: #ffffff;
    /* border-radius: 14px; */
}

@media only screen  and (min-device-width: 360px) and (max-device-width: 640px) {

  .dashboard_upcard {
    width: 81%;
    background-color: #308edc;
    margin-top: 7%;
    margin-left: 11%;
    border-radius: 9px;
}

.dashboard_upcard h2 {
    margin-top: 1px;
    padding-top: 28px;
    font-size: 30px;
    }
}

@media only screen and (-webkit-min-device-pixel-ratio: 3) and (max-device-width: 736px) and (min-device-width: 414px) {

.dashboard_upcard {
    width: 87%;
    background-color: #308edc;
    margin-top: 7%;
    margin-left: 8%;
    border-radius: 9px;
}
}

.dashboard_tabs {
  display: flex;
    flex-direction: row;

    justify-content: space-between;
    align-items: center;
      flex-grow: 1;
      padding: 22px;
}
.dashboard_card {
    display: flex;
    flex-direction: row;
    margin-right: 30px;
    justify-content: space-between;
    align-items: center;
      flex-grow: 1;
      padding: 22px;

}

.dashboard_card img {

   border-radius: 10px;
    height: 14vh;
    width: 11vw;
    position: relative;

}

    hr {


    border-top: 1px solid #eeeeee;
    }



@media only screen  and (min-device-width: 360px) and (max-device-width: 640px) {
 .dashboard_card {
    display: flex;
    flex-direction: column;

    justify-content: space-between;
    align-items: center;
      flex-grow: 1;
      padding: 22px 13px;
    padding-left: 35px;
}


.dashboard_card img {
    border-radius: 10px;
    height: 27vh;
    width: 71vw;
    margin-bottom: 28px;
    position: relative;
}


}

    @media only screen
 and (min-device-width: 375px)
and (max-width: 675px){

.dashboard_card {
    display: flex;
    flex-direction: column;

    justify-content: space-between;
    align-items: center;
      flex-grow: 1;
     padding: 22px 13px;
    padding-left: 35px;

}

.dashboard_card img {
    border-radius: 10px;
    height: 27vh;
    width: 71vw;
    margin-bottom: 28px;
    position: relative;
}

}

@media only screen
 and (min-device-width: 768px)
and (max-width: 1024px) {


.dashboard_card {
    display: flex;
    flex-direction: column;

    justify-content: space-between;
    align-items: center;
      flex-grow: 1;
      padding: 22px;

}

.dashboard_card img {
    border-radius: 10px;
    height: 27vh;
    width: 53vw;
    margin-bottom: 28px;
    position: relative;
}

.dashboard_card p {
  font-size: 35px;
}

  }
