// Specific CSS for your home-page

.difference {
  margin-top: 10%;
}

.margin-icon {

   margin-top: 25%;
}

.margin-watch {

   margin-top: 10%;
}

.margin-lasticon {

   margin-top: 15%;
}


.wrapper {
width: 100vw;
margin-top: 6%;
display: block;
flex-direction: row;

}


#email {
      margin-right: 15px;

    margin-top: 25px;
}


.bluecta {
width: 100vw;
background-color: #08264D;
margin-top: 4%;
flex-direction: column;
color: white;
padding: 30px
}

@media only screen
 and (min-device-width: 375px)
and (max-width: 675px) {
.svg-content {
    width: 300px;
    padding-left: 15px;
  }

}
