// Specific CSS for your home-page

.difference {
  margin-top: 30px;
}

.margin-icon {

   margin-top: 10%;
}



.margin-lasticon {

   margin-top: 5%;
}


.wrapper {
width: 100vw;
margin-top: 6%;
display: block;
flex-direction: row;

}


#email {
      margin-right: 15px;

    margin-top: 25px;
}


.bluecta {
width: 100vw;
background-color: #08264D;
margin-top: 4%;
flex-direction: column;
color: white;
padding: 30px
}
