// Specific CSS for your home-page




.difference {
  margin-top: 10%;
}

.margin-icon {

 
}

.margin-watch {

   margin-top: 10%;
}

.margin-watchsvg {
  margin-top: 18%;
}

.margin-lasticon {

   margin-top: 15%;
}


.wrapper {
width: 100vw;
margin-top: 6%;
display: block;
flex-direction: row;

}



.wrapper h3 {
  font-size: 29px;
    color: #08264D;
    font-weight: 200;
}


.nounderline:hover {
  text-decoration: none;
}

#email {
      margin-right: 15px;

    margin-top: 25px;
}


.bluecta {
width: 100vw;
background-color: #08264D;
margin-top: 4%;
flex-direction: column;
color: white;
padding: 30px
}




@media only screen  and (min-device-width: 360px) and (max-device-width: 640px){
.svg-content svg{
    width: 300px;
    padding-left: 1px;
    padding-right: 12px;
  }

}

@media only screen
 and (min-device-width: 375px)
and (max-width: 675px) {
.svg-content svg{
    width: 300px;
    padding-left: 15px;
  }

}

@media only screen
 and (min-device-width: 768px)
and (max-width: 1024px) {

.svg-content svg{
    width: 300px;
    padding-left: 15px;
  }

}

.iconcontact {
  margin-top: 35px;
  margin-left: 10px;
}


.iconcontact p {
  font-size: 15px;
  color: #09264D;
}
