.a img {

    border-radius: 10px;
    margin-top: 4%;
    width: 26vw;
    margin-left: 10%;
    display: flex;
 }

.b {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
      margin-top: 2%;


}

 .b img {
   width: 22vw;
   height: 28vh;
   border-radius: 10px;
   margin-bottom: 18%;

 }

.price {
  display: flex;
  flex-direction: row;
  justify-content: center;

  align-items: center;

}
 .price h1 {
  color: #308edc;
 }
 .price h3 {
  color: #123554;
  text-decoration: line-through;
  padding-left: 20px;


 }


.detail {
display: block;
   max-width: 35vw;
   color: white;
}

.card_form {
width: 28vw;
height: 74vh;
margin-top: 4%;
background-color: white;
border-radius: 10px;
    display: block;
    padding-right: 10px;
}




@media only screen  and (min-device-width: 360px) and (max-device-width: 640px) {

.a img {
    border-radius: 10px;
    margin-top: 4%;
    width: 65vw;
    margin-left: 15%;
    display: flex;
}

.card_form {
    width: 91vw;
    height: 84vh ;
    margin-top: 4%;
    background-color: white;
    border-radius: 10px;
    display: block;

}

.form-group {
margin-left: 0% !important;
}

.detail {
display: block;
   max-width: 100%;
   color: white;
}

.b img {
    width: 58vw;
    border-radius: 10px;
    margin-bottom: 10px;
    display: flex;
    margin-left: 30%;
    height: 23vh;
}

}







.decal {
 margin-left: 24%;
}

.btn-form {
        padding: 10px 12px;
         border: 1px solid #308edc;
    border-radius: 7px;
    color: white;
    background-color: #308edc;


}



.margin2 {
 margin-top: 6%;
    margin-bottom: 3%;
      color: white;
}





@media only screen
 and (min-device-width: 375px)
and (max-width: 675px)
and (-webkit-min-device-pixel-ratio: 2){

.card_form {
width: 93vw ;
height: 82vh !important;
margin-top: 4%;
background-color: white;
border-radius: 10px;
    display: block;
}

.form-group {
margin-left: 0% !important;
}

.a img {
    border-radius: 10px;
    margin-top: 4%;
    width: 58vw;
    margin-left: 18%;
    display: flex;
}

.detail {
display: block;
   max-width: 100%;
   color: white;
}

.b img {
    width: 61vw;
    border-radius: 10px;
    margin-bottom: 10px;
    display: flex;
    margin-left: 25%;
}


}

.card_pack {
width: 40vw;
height:   62vh;
margin-top: 1%;
background-color: white;
border-radius: 10px;
padding-left: 40px;

}

.card_autres {
  width: 100vw;
height:   45vh;
margin-top: 1%;

}



.decal {
 margin-left: 24%;
}

.btn-form {
         padding: 9px 9px;
         border: 1px solid #308edc;
    border-radius: 7px;
    color: white;
    background-color: #308edc;


}



.margin2 {
 margin-top: 6%;
    margin-bottom: 3%;
      color: white;
}




// @media only screen
// and (max-width: 812px) and (-webkit-device-pixel-ratio : 3) {

// .a img {
//     border-radius: 10px;
//     margin-top: 4%;
//     width: 70vw;
//     margin-left: 10%;
//     display: flex;
// }

//   .detail {
// display: block;
//    max-width: 100%;
//    color: white;
// }

// .card_form {
//   width: 84vw;
//   height: 68vh !important;
//   margin-top: 4%;
//   background-color: white;
//   border-radius: 10px;
//   display: block;
//   }

//   .row {
//     margin-left: 2px;
// }
// }

@media only screen  and (min-device-width: 768px) and (max-device-width: 1024px) {


.card_form {
width: 38vw;
height: 54vh;
margin-top: 4%;
background-color: white;
border-radius: 10px;
    display: block;
}

.form-group {
margin-left: 1% !important;
}

.b img {
  width: 37vw;
    border-radius: 10px;
    margin-bottom: 10px;
    display: flex;
        height: 22vh;
            margin-left: 5%;
}

  }



