<div class="banner" style="background-image:
 url(<%= image_path 'pack.png' %>);">
 <div class="color_overlay_banner"></div>
  <div class="banner-content">
    <h1> Timply </h1>
    <h2> La solution pour réduire vos coûts d'envoi ! </h2>

    <%= link_to 'Réduire mes coûts',packs_path, class: "btn   btn-cta center-block" %>

  </div>


</div>
