<div class="banner" style="background-image:
 url(<%= image_path 'banner.png' %>);">
  <div class="banner-content">
    <h1> Timply </h1>
    <h2> Economisez sur vos frais d'envois </h2>
    <%= link_to 'Réduire mes coûts',new_user_session_path, class: "btn   btn-cta center-block" %>
  </div>
</div>