<div class="footer">
  <div class="foot-image">
    <%= link_to root_path do %>
      <%= image_tag "logo.png", height: 80 %>
    <% end %>
    <p>©2018 Timply</p>
  </ul>
</div>
<div class="footer-service">
  <ul>
    <h6><strong>NOTRE SERVICE </strong></h6>
    <li>Nos packs </li>
    <li>Nos tarifs</li>
  </ul>
</div>
<div class="a-propos">
  <ul>
    <h6><strong> A PROPOS </strong></h6>
    <li>Notre mission</li>
    <li>Mentions légales </li>
  </ul>
</div>
<div class="liens-utiles">
  <ul>
    <h6><strong>LIENS UTILES </strong></h6>
    <li>Timbres de collection</li>
    <li>Accéder à mon compte</li>
  </ul>
</div>
<div class="footer-links">
  <a href="#"><i class="fab fa-instagram"></i></a>
  <a href="#"><i class="fab fa-facebook"></i></a>
  <a href="#"><i class="fab fa-linkedin"></i></a>
</div>
</div>