<div class="banner-apropos " style="background-image:
 url(<%= image_path 'franc.png' %>);">

    <div class="color-overlay"></div>
    <div class="writing-content text-center margin_contact">
        <h1>Notre mission</h1>
        <p> Passionné par la philatélie, par l'histoire racontée dans chaque timbre, nous nous sommes aperçus que les coûts des timbres destinés aux envois postaux s'envolaient au fil des années et que le budget des entreprises en patissaient. À l'heure ou la réduction des coûts est un enjeu majeur pour les entreprises francaises, nous avons eu une idée !
        </p>

        <p> Utiliser des timbres de collection en Francs et en Euro pour affranchir vos courriers et vos colis légers ! En effet, la conversion Franc-Euro est toujours acceptée par La Poste, <a href="https://www.noubliepasdecrire.com/blog/article/les-timbres-francs-toujours-cote/163" target="_blank">(Lire notre article)</a>.
            Fini les coûts exorbitants et les déplacements pris sur votre pause déjeuner. Notre équipe de timbrés se pliera en quatre pour vous fournir un service simple,fléxible et efficace au meilleur tarif. </p>

        <p>Timply c'est des milliers et des milliers d'enveloppes et colis envoyés chaque année ainsi que des milliers d'euros d'économies réalisés pour nos clients !
            Si vous avez la moindre question, <span> <%= link_to "Contactez-nous par mail, par téléphone ou même par courrier !",  new_contact_path %> </span></p>
    </div>
    <%= render'shared/footer'%>
</div>
