<div class="container">
<h3 class="text-center"> Conditions Générales de Vente </h3>


<p>Il est préalablement précisé que les présentes conditions régissent exclusivement les ventes de l’entreprise Timply.fr - postage conseils </p>

<h3>Article 1 – Prix: </h3>
<p>1.1 – Les prix de nos produits sont indiqués en euros toutes taxes comprises.</p>
<p>1.2 – En cas de commande vers un pays autre que la france ou non membre de l’Union économique euro‐ péenne, vous êtes l’importateur du ou des produits concernés. Pour tous les produits expédiés hors Union Européenne, des droits de douane ou autres taxes locales ou droits d’importation ou taxes d’état sont susceptibles d’être exigibles. Ces droits et sommes ne relèvent pas du ressort de Timply.fr. Les taxes seront à votre charge et relèvent de votre entière responsabi‐ lité, tant en termes de déclarations que de paiements aux autorités et/ou organismes compétents de votre pays. Nous vous conseillons de vous renseigner sur ces aspects auprès de vos autorités locales.</p>
<p>1.3 – Timply.fr se réserve le droit de modifier ses prix à tout moment. Les produits seront facturés
sur la base des tarifs en vigueur lors de votre validation de commande. </p>
<p>1.4 – Les produits demeurent la propriété de Timply.fr jusqu’au paiement au complet. <p>
<h3>Article 2 – Commande: </h3>
<p>Tous les produits mis à disposition sont disponibles en stock. Nos délais de traitement des commandes de 48 heures sont donnés à titre indicatif. Les délais non tenus, ne pourront en aucun cas donner lieu à des réclamations de dommages et intérêts ni à l’accord de toute indemnisation.
Les systèmes d’enregistrement automatique sont considérés comme valant preuve, de la nature, du contenu et de la date de la commande. Timply.fr confirme l’acceptation de sa commande au client à l’adresse courriel que celui-ci aura communiqué. La vente ne sera conclue qu’à compter de la confirmation de la commande. Timply.fr se réserve le droit d’annuler toute commande d’un client avec lequel existerait un litige relatif au paiement d’une commande antérieure. Les informations énoncées par l’acheteur, lors de la prise de commande engagent celui-ci: en cas d’erreur dans le libellé des coordonnées du destinataire, le vendeur ne saurait être tenu responsable de l’impossibilité dans laquelle il pourrait être de livrer
le produit. Les timbres étant présents sur différents support de vente, il se peut que ceux-ci ne soit plus disponible au moment de la commande, Timply.fr se réserve le droit d’annuler la commande en partie ou dans son intégralité.</p>
<h3>Article 3 – Validation:</h3>
<p>Vous déclarez avoir pris connaissance et accepté les présentes Conditions Générales de Ventes avant la passation de votre commande. La validation de votre commande vaut donc acceptation de ces Conditions Générales de Ventes.
Sauf preuve contraire, les données enregistrées par Timply.fr constituent la preuve de l’ensemble des transactions passées par Timply.fr et ses clients.</p>
<h3>Article 4 – Disponibilité:</h3>
Nos offres de produits sont valables tant qu’ils sont vi‐ sibles sur le site, dans la limite des stocks disponibles hors opérations promotionnelles mentionnées comme telle sur le site. Dans l’éventualité d’une indisponibilité de produit après passation de votre commande, nous vous en informerons par courriel. Votre commande sera automatiquement annulée et le produit manquant vous sera remboursé.
<h3>Article 5 – Livraison:</h3>
<p>5.1 – Généralités
Nous vous invitons à consulter régulièrement votre suivi de commande et à contacter le service client pour toute information complémentaire.
En cas de paiement par chèque, la commande sera expédiée après vérification de celui-ci par la banque.
Les commandes sont expédiées à l’adresse indiquée par l’acheteur dans un délai moyen de 3-4 jours ouvrables (*), délais pouvant varier en cas de rupture de stock de nos fournisseurs, de grève des services de La Poste ou de périodes de vacances. Un courriel vous est adressé pour vous informer du jour de départ de votre commande. Nous ne sommes en aucun cas responsables des délais d’acheminement par La Poste.
Sont considérés comme cas de force majeure déchargeant le vendeur de son obligation de livrer: la guerre, l’émeute, l’incendie, les grèves, les accidents et l’impossibilité d’être approvisionnés.
(*)Les jours ouvrables ne comprennent pas les week-ends et jours fériés.
5.2 – Réserves
Les marchandises voyagent toujours aux risques et périls du destinataire. Vérifiez toujours votre colis à l’arrivée. Vous devez notifier au transporteur et à Timply.fr toutes les réserves sur le produit livré (par exemple : colis endommagé, déjà ouvert...). Selon les cas définis à l’article 9 ci-dessous, vous pouvez béné‐ ficier des conditions d’échange et de remboursement prévues à cet article. Vous disposez d’un délai de 48 heures pour faire d’éventuelles réserves auprès du transporteur en cas de manquant ou de dégradation.</p>
<h3>Article 6 – Paiement:</h3>
<p>Le règlement de vos achats s’effectue:
soit par cartes bancaires (Visa, MasterCard) via le système Paypal (sans ouverture de compte), Chèque-postal ou bancaire, Virement bancaire ou Paypal.
En cas de paiement par chèque, celui-ci doit être émis par une banque domiciliée en France Métropolitaine. La mise à l’encaissement du chèque est réalisée à la réception de celui-ci.
En cas de paiement par carte bancaire, notre site
fait l’objet d’un système de sécurisation, grâce à une technologie de chiffrement SSL (Secure Socket Layer) qui est actuellement la plus fiable et la plus répandue sur Internet. Votre numéro de carte bancaire et la date d’expiration sont toujours cryptés et ne circulent jamais en clair sur le réseau.<p>
<h3>Article 7 – Droit de rétractation:</h3>
<p>Les enveloppes timbrées vendues par Timply.fr sont des biens confectionnés et personnalisés à la demande du consommateur.
Dans ce cadre, le consommateur peut faire une demande d’affranchissement spécifique ou bien une demande d’impression personnalisée avec logo par exemple. Certaines prestations peuvent donner lieu à facturation.
Le collage de l’affranchissement sur les enveloppes est une prestation personnalisée et conformément aux dispositions légales en vigueur, vous ne bénéficiez pas de la possibilité d’exercer un droit de rétraction.
Seuls les timbres sont vendus par Timply.fr, le collage de ceux-ci et les enveloppes sont des services et produits offerts par Timply.fr et dans ce cadre, le consommateur peut faire une demande pour un montant d’affranchissement spécifique.</p>
<h3>Article 8 – Conformité des produits:</h3>
<p>Nous nous engageons à vous rembourser ou à vous échanger les produits apparemment défectueux, abîmés ou endommagés ou ne correspondant pas à votre commande. Dans ce cas, nous vous remercions de bien vouloir en faire état de manière détaillée par écrit et de nous renvoyer le ou les produits. Timply.fr procédera à votre choix, à l’échange ou au rembourse‐ ment du ou des produits. Les frais d’envoi, vous seront remboursés sur la base du tarif facturé et les frais de retour vous seront remboursés sur présentation des justificatifs. En tout état de cause, vous bénéficiez des garanties légales de conformité et des vices cachés, et ce conformément aux dispositions légales en vigueur.
Les stipulations de cet article ne vous empêchent pas de bénéficier du droit de rétractation prévu à l’article 7.</p>
<h3>Article 9 – Remboursement:</h3>
<p>Les remboursements des produits dans les hypothèses visées aux articles 7 et 8 seront effectués dans les meilleurs délais et au plus tard dans les 15 jours suivant la date à laquelle le droit a été exercé. Le remboursement s’effectuera sur proposition de Timply.fr par virement bancaire sur un compte ban‐
caire au nom du client ayant passé la commande ou par Paypal si le paiement a été effectué par ce moyen.</p>
<h3>Article 10 – Propriété Intellectuelle:</h3>
<p>Toute reproduction ou représentation totale ou partielle du site Timply.fr ou de tout ou partie des éléments se trouvant sur le site Timply.fr est strictement interdite.</p>
<h3>Article 11 – Responsabilité:</h3>
<p>Timply.fr ne pourra être tenue pour responsable de tous dommages indirects qui pourraient survenir du fait de l’achat des Produits. De même la responsabilité de Timply.fr au titre des obligations des CGV ne saurait être engagée en cas de survenance d’un événement de force majeure tel que défini par les juridictions compétentes.</p>
<h3>Article 12 – Informations nominatives:</h3>
<p>Les informations et données vous concernant sont nécessaires à la gestion de votre commande et à nos relations commerciales. Elles peuvent être transmises aux sociétés qui contribuent à ces relations telles que celles chargées de l’exécution des services et
commandes pour leur gestion, exécution, traitement et paiement. Ces informations et données sont également conservées à des fins de sécurité, afin de respecter les obligations légales et réglementaires et ainsi que pour nous permettre d’améliorer et personnaliser les services que nous vous proposons et les informations que nous vous adressons. </p>
<p>Conformément à la nouvelle loi européenne sur le règlement général sur la protection des données (RGPD), vous disposez d’un droit d’accès et de rectification et d’opposition aux données personnelles vous concernant. Il vous suffit de nous écrire en ligne sur Timply.fr en nous indiquant votre nom, prénom, adresse courriel et si possible votre référence client. Une réponse vous sera alors adressée dans un délai de 1 mois suivant la réception de la demande. Conformément à la réglementation en vigueur, voici les informations que nous collectons: Nom et Prénom, Adresse, Email et Téléphone. Toutes les données collectées sont utilisées uniquement à fin d’archives et statistiques et ne sont jamais vendus ou céder à quelques entreprises.</p>
<p>En fonction de vos choix émis lors de la création ou consultation de votre compte, vous serez susceptibles de recevoir des offres de notre société lors de la création de votre compte. Si vous ne le souhaitez plus, vous pouvez à tout moment nous en faire la demande en envoyant un courriel ou via le formulaire de contact disponible sur le site.</p>
<h3>Article 13 – Droit applicable / Litiges:</h3>
<p>Le présent contrat est soumis au droit français. Timply.fr ne peut être tenu pour responsable des dommages de toute nature, tant matériels qu’immatériels ou corporels, qui pourraient résulter d’un mauvais fonctionnement ou de la mauvaise utilisation des produits commercialisés. Il en est de même pour les éventuelles modifications des produits résultant des fabricants. La responsabilité de Timply.fr sera, en tout état de cause, limitée au montant de la commande et ne saurait être mise en cause pour de simples erreurs ou omissions qui auraient pu subsister malgré toutes les précautions prises dans la présentation des produits.</p>
<p>
En cas de litige ou contestations, le tribunal compétent est le tribunal de Paris.
Le site Timply.fr est édité et exploité par <a href="https://www.societe.com/societe/postage-conseils-830308334.html">Postage Conseils</a><br>
Dernière modification : 16:54</p>
</div>
<div class="bluecta text-center">
  <h2><strong>La solution n°1 pour vos courriers !
      <br>
      <span>Vous utilisez déjà Timply ? </span> </strong></h2>
  <%= link_to 'Commander', packs_path, class: " btn btn-cta-nav " %>
</div>
<%=render'shared/footer'%>


