<% Order.where(id: current_user.order_ids).each do |order| %>
  <p><%= order.pack_sku %></p>
  <p> order.pack_id</p>
  <p><%= order.state %></p>
  <p><%= humanized_money_with_symbol(order.price) %></p>
  <%= link_to "Payer", new_pack_order_payment_path(order.pack_id, order) if order.state == 'pending'%>
  <hr>
<% end %>