<%= render 'shared/banner' %>
<div class="content text-center">
  <h2> Finis la perte de temps et d’argent !</h2>
  <div class="row">
    <div class="col col-xs-12 col-sm-4  ">
      <div class="difference">
        <%= image_tag("/assets/stamp.png") %>
        <h3>Differenciez-vous !    </h3>
        <p>  Nos timbres de collection,
          nous permettent de vous
          offrir le meilleur tarif. Nous
          affanchissons vos enveloppes qui en plus de leur  donnent un coté rétro qui rendront vos lettres uniques, , reduira vos couts d’envois.
          En savoir plus sur nos timbres </p>
      </div>
    </div>
  </div>