
<div class="container text-center">
<div class="mentions">
<h3>Mentions Légales</h3>

<p>Dénomination: POSTAGE CONSEILS</p>
<p>Adresse: 12 Rue Vivienne 75002 Paris</p>
<p>RCS: Paris n°830 308 334</p>
<p>Forme juridique: SARL</p>
<p>Capital social:  1000,00 €</p>
</div>
</div>
<div class="bluecta text-center">
  <h2><strong>La solution n°1 pour vos courriers !
      <br>
      <span>Vous utilisez déjà Timply ? </span> </strong></h2>
  <%= link_to 'Commander', packs_path, class: " btn btn-cta-nav " %>
</div>
<%=render'shared/footer'%>
