<div class="container text-center">
  <div class="nostarifs">
    <h2>Tarifs Timply</h2>
    <p>
      Seuls les packs sont vendus sur Timply.fr, si vous ne souhaitez que les
      timbres car vous souhaitez affranchir vous-même vos enveloppes, appelez
      nous au 01 45 26 10 26.
    </p>
    <div class="tables-tarifs">
      <h4>
        Tarif Pack de Lettre Verte 2019 – (Affranchissement et enveloppes
        inclus)
      </h4>
      <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th class="table-headers" scope="col">Poids</th>
              <th class="table-headers" scope="col">Prix Timply</th>
              <th class="table-headers" scope="col">Prix La Poste</th>
              <th class="table-headers" scope="col">Économie</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th class="table-headers" scope="row">20g</th>
              <td>0,79</td>
              <td>0,88</td>
              <td>10%</td>
            </tr>
            <tr>
              <th class="table-headers" scope="row">100g</th>
              <td>1,58</td>
              <td>1,76</td>
              <td>10%</td>
            </tr>
            <tr>
              <th class="table-headers" scope="row">250g</th>
              <td>1,58</td>
              <td>1,76</td>
              <td>10%</td>
            </tr>
            <tr>
              <th class="table-headers" scope="row">500g</th>
              <td>1,58</td>
              <td>1,76</td>
              <td>10%</td>
            </tr>
            <tr>
              <th class="table-headers" scope="row">3kg</th>
              <td>1,58</td>
              <td>1,76</td>
              <td>10%</td>
            </tr>
          </tbody>
        </table>
      </div>
      <h4>
        Tarif Pack de Lettre Verte 2019 – (Affranchissement et enveloppes
        inclus)
      </h4>
      <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th class="table-headers" scope="col">Poids</th>
              <th class="table-headers" scope="col">Prix Timply</th>
              <th class="table-headers" scope="col">Prix La Poste</th>
              <th class="table-headers" scope="col">Économie</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th class="table-headers" scope="row">20g</th>
              <td>0,79</td>
              <td>0,88</td>
              <td>10%</td>
            </tr>
            <tr>
              <th class="table-headers" scope="row">100g</th>
              <td>1,58</td>
              <td>1,76</td>
              <td>10%</td>
            </tr>
            <tr>
              <th class="table-headers" scope="row">250g</th>
              <td>1,58</td>
              <td>1,76</td>
              <td>10%</td>
            </tr>
            <tr>
              <th class="table-headers" scope="row">500g</th>
              <td>1,58</td>
              <td>1,76</td>
              <td>10%</td>
            </tr>
            <tr>
              <th class="table-headers" scope="row">3kg</th>
              <td>1,58</td>
              <td>1,76</td>
              <td>10%</td>
            </tr>
          </tbody>
        </table>
      </div>
      <h4>
        Tarif Pack de Lettre Verte 2019 – (Affranchissement et enveloppes
        inclus)
      </h4>
      <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th class="table-headers" scope="col">Poids</th>
              <th class="table-headers" scope="col">Prix Timply</th>
              <th class="table-headers" scope="col">Prix La Poste</th>
              <th class="table-headers" scope="col">Économie</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th class="table-headers" scope="row">20g</th>
              <td>0,79</td>
              <td>0,88</td>
              <td>10%</td>
            </tr>
            <tr>
              <th class="table-headers" scope="row">100g</th>
              <td>1,58</td>
              <td>1,76</td>
              <td>10%</td>
            </tr>
            <tr>
              <th class="table-headers" scope="row">250g</th>
              <td>1,58</td>
              <td>1,76</td>
              <td>10%</td>
            </tr>
            <tr>
              <th class="table-headers" scope="row">500g</th>
              <td>1,58</td>
              <td>1,76</td>
              <td>10%</td>
            </tr>
            <tr>
              <th class="table-headers" scope="row">3kg</th>
              <td>1,58</td>
              <td>1,76</td>
              <td>10%</td>
            </tr>
          </tbody>
        </table>
      </div>
      <h4>
        Tarif Pack de Lettre Verte 2019 – (Affranchissement et enveloppes
        inclus)
      </h4>
      <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th class="table-headers" scope="col">Poids</th>
              <th class="table-headers" scope="col">Prix Timply</th>
              <th class="table-headers" scope="col">Prix La Poste</th>
              <th class="table-headers" scope="col">Économie</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th class="table-headers" scope="row">20g</th>
              <td>0,79</td>
              <td>0,88</td>
              <td>10%</td>
            </tr>
            <tr>
              <th class="table-headers" scope="row">100g</th>
              <td>1,58</td>
              <td>1,76</td>
              <td>10%</td>
            </tr>
            <tr>
              <th class="table-headers" scope="row">250g</th>
              <td>1,58</td>
              <td>1,76</td>
              <td>10%</td>
            </tr>
            <tr>
              <th class="table-headers" scope="row">500g</th>
              <td>1,58</td>
              <td>1,76</td>
              <td>10%</td>
            </tr>
            <tr>
              <th class="table-headers" scope="row">3kg</th>
              <td>1,58</td>
              <td>1,76</td>
              <td>10%</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
