<div class="banner_nostarifs" style="background-image: linear-gradient(to right top, #1460d1, #2173db, #3485e3, #4997eb, #60a9f1);">
  <div class="banner-content">
    <h2> Tarifs Timply </h2>
    <h4> Réduisez vos coûts d'envoi ! </h4>
  </div>
</div>
<div class="container text-center">
  <div class="nostarifs">
    <p>
      Ces tarifs incluent le service de collage des timbres sur des enveloppes afin de vous faire gagner du temps.
    </p>
        <div class="tables-tarifs">
      <h5 style="margin-top: 30px">
        Tarif Pack de Lettre Suivie 2020 – (Affranchissement,enveloppes et stickers suivies
        inclus)
      </h5>
      <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th class="table-headers" scope="col">Poids</th>
              <th class="table-headers" scope="col">Prix Timply</th>
              <th class="table-headers" scope="col">Prix La Poste</th>
              <th class="table-headers" scope="col">Économie</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th class="table-headers" scope="row">20g</th>
              <td style="font-weight: 1000;">1.05</td>
              <td>1.42</td>
              <td>27%</td>
            </tr>
            <tr>
              <th class="table-headers" scope="row">100g</th>
              <td style="font-weight: 1000;">1.89</td>
              <td>2.39</td>
              <td>14%</td>
            </tr>
            <tr>
              <th class="table-headers" scope="row">250g</th>
              <td style="font-weight: 1000;">3.29</td>
              <td>4.33</td>
              <td>26%</td>
            </tr>
            <tr>
              <th class="table-headers" scope="row">500g</th>
              <td style="font-weight: 1000;">4.41</td>
              <td>6.27</td>
              <td>30%</td>
            </tr>
            <tr>
              <th class="table-headers" scope="row">3kg</th>
              <td style="font-weight: 1000;">6.36</td>
              <td>8.21</td>
              <td>23%</td>
            </tr>
          </tbody>
        </table>
      </div>
    <div class="tables-tarifs">
      <h5 style="margin-top: 30px">
        Tarif Pack de Lettre Verte 2020 – (Affranchissement et enveloppes
        inclus)
      </h5>
      <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th class="table-headers" scope="col">Poids</th>
              <th class="table-headers" scope="col">Prix Timply</th>
              <th class="table-headers" scope="col">Prix La Poste</th>
              <th class="table-headers" scope="col">Économie</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th class="table-headers" scope="row">20g</th>
              <td style="font-weight: 1000;">0.79</td>
              <td>0.97</td>
              <td>19%</td>
            </tr>
            <tr>
              <th class="table-headers" scope="row">100g</th>
              <td style="font-weight: 1000;">1.59</td>
              <td>1.94</td>
              <td>15%</td>
            </tr>
            <tr>
              <th class="table-headers" scope="row">250g</th>
              <td style="font-weight: 1000;">3.10</td>
              <td>3.88</td>
              <td>18%</td>
            </tr>
            <tr>
              <th class="table-headers" scope="row">500g</th>
              <td style="font-weight: 1000;">4.10</td>
              <td>5.82</td>
              <td>23%</td>
            </tr>
            <tr>
              <th class="table-headers" scope="row">3kg</th>
              <td style="font-weight: 1000;">5.89</td>
              <td>7.76</td>
              <td>23%</td>
            </tr>
          </tbody>
        </table>
      </div>
      <h5 style="margin-top: 30px">
        Tarif Pack de Lettre Prioritaire 2020 – (Affranchissement et enveloppes
        inclus)
      </h5>
      <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th class="table-headers" scope="col">Poids</th>
              <th class="table-headers" scope="col">Prix Timply</th>
              <th class="table-headers" scope="col">Prix La Poste</th>
              <th class="table-headers" scope="col">Économie</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th class="table-headers" scope="row">20g</th>
              <td>1.02</td>
              <td>1.16</td>
              <td>14%</td>
            </tr>
            <tr>
              <th class="table-headers" scope="row">100g</th>
              <td>1.96</td>
              <td>2.23</td>
              <td>14%</td>
            </tr>
            <tr>
              <th class="table-headers" scope="row">250g</th>
              <td>3.99</td>
              <td>4.64</td>
              <td>15%</td>
            </tr>
            <tr>
              <th class="table-headers" scope="row">500g</th>
              <td>5.50</td>
              <td>6.96</td>
              <td>21%</td>
            </tr>
            <tr>
              <th class="table-headers" scope="row">3kg</th>
              <td>7.70</td>
              <td>9.28</td>
              <td>18%</td>
            </tr>
          </tbody>
        </table>
      </div>
      <h5 style="margin-top: 30px">
        Tarif Pack de Lettre Prioritaire Internationale 2020 – (Affranchissement et enveloppes
        inclus)
      </h5>
      <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th class="table-headers" scope="col">Poids</th>
              <th class="table-headers" scope="col">Prix Timply</th>
              <th class="table-headers" scope="col">Prix La Poste</th>
              <th class="table-headers" scope="col">Économie</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th class="table-headers" scope="row">20g</th>
              <td style="font-weight: 1000;">1.17</td>
              <td>1.40</td>
              <td>17%</td>
            </tr>
            <tr>
              <th class="table-headers" scope="row">100g</th>
              <td style="font-weight: 1000;">2.40</td>
              <td>2.80</td>
              <td>15%</td>
            </tr>
            <tr>
              <th class="table-headers" scope="row">250g</th>
              <td style="font-weight: 1000;">4.90</td>
              <td>7.00</td>
              <td>19%</td>
            </tr>
            <tr>
              <th class="table-headers" scope="row">500g</th>
              <td style="font-weight: 1000;">7.50</td>
              <td>11.20</td>
              <td>28%</td>
            </tr>
            <tr>
              <th class="table-headers" scope="row">2kg</th>
              <td style="font-weight: 1000;">14.90</td>
              <td>19.60</td>
              <td>19%</td>
            </tr>
             <tr>
              <th class="table-headers" scope="row">3kg</th>
              <td style="font-weight: 1000;">28.50</td>
              <td>33.60</td>
              <td>16%</td>
            </tr>
          </tbody>
        </table>
      </div>
      <h5 style="margin-top: 30px">
        Tarif Pack de Lettre Recommandée 2020 – (Affranchissement et enveloppes
        inclus)
      </h5>
      <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th class="table-headers" scope="col">Poids</th>
              <th class="table-headers" scope="col">Prix Timply</th>
              <th class="table-headers" scope="col">Prix La Poste</th>
              <th class="table-headers" scope="col">Économie</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th class="table-headers" scope="row"> R1 20g</th>
              <td style="font-weight: 1000;">3.44</td>
              <td>4.30</td>
              <td>20%</td>
            </tr>
            <tr>
              <th class="table-headers" scope="row">R1 100g</th>
              <td style="font-weight: 1000;">4.40</td>
              <td>5.50</td>
              <td>20%</td>
            </tr>
            <tr>
              <th class="table-headers" scope="row"> R1 250g</th>
              <td style="font-weight: 1000;">5.36</td>
              <td>6.70</td>
              <td>20%</td>
            </tr>
            <tr>
              <th class="table-headers" scope="row">R1 500g</th>
              <td style="font-weight: 1000;">6.28</td>
              <td>7.85</td>
              <td>20%</td>
            </tr>
            <tr>
              <th class="table-headers" scope="row">R1 1kg</th>
              <td style="font-weight: 1000;">7.20</td>
              <td>9.00</td>
              <td>20%</td>
            </tr>
            <tr>
              <th class="table-headers" scope="row"> R2 20g</th>
              <td style="font-weight: 1000;">4.04</td>
              <td>5.05</td>
              <td>20%</td>
            </tr>
            <tr>
              <th class="table-headers" scope="row">R2 100g</th>
              <td style="font-weight: 1000;">4.96</td>
              <td>6.20</td>
              <td>20%</td>
            </tr>
            <tr>
              <th class="table-headers" scope="row"> R2 250g</th>
              <td style="font-weight: 1000;">5.96</td>
              <td>7.95</td>
              <td>20%</td>
            </tr>
            <tr>
              <th class="table-headers" scope="row">R2 500g</th>
              <td style="font-weight: 1000;">6.84</td>
              <td>8.55</td>
              <td>20%</td>
            </tr>
            <tr>
              <th class="table-headers" scope="row">R2 1kg</th>
              <td style="font-weight: 1000;">7.80</td>
              <td>9.75</td>
              <td>20%</td>
            </tr>
             <tr>
              <th class="table-headers" scope="row"> R3 20g</th>
              <td style="font-weight: 1000;">4.96</td>
              <td>6.20</td>
              <td>20%</td>
            </tr>
            <tr>
              <th class="table-headers" scope="row">R3 100g</th>
              <td style="font-weight: 1000;">5.84</td>
              <td>7.30</td>
              <td>20%</td>
            </tr>
            <tr>
              <th class="table-headers" scope="row"> R3 250g</th>
              <td style="font-weight: 1000;">6.88</td>
              <td>8.60</td>
              <td>20%</td>
            </tr>
            <tr>
              <th class="table-headers" scope="row">R3 500g</th>
              <td style="font-weight: 1000;">7.68</td>
              <td>9.60</td>
              <td>20%</td>
            </tr>
            <tr>
              <th class="table-headers" scope="row">R3 1kg</th>
              <td style="font-weight: 1000;">8.68</td>
              <td>10.85</td>
              <td>20%</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
      <%= link_to 'Commandez',packs_path, class: "btn btn-tarifs center-block" %>
</div>
</div>

<%= render'shared/footer'%>

