<div class="banner_nostarifs" style="background-image: linear-gradient(to right top, #1460d1, #2173db, #3485e3, #4997eb, #60a9f1);">
  <div class="banner-content">
    <h2> Tarifs Timply </h2>
    <h4> Réduisez vos coûts d'envoi ! </h4>
  </div>
</div>
<div class="container text-center">
  <div class="nostarifs">
    <p>
      Ces tarifs incluent le service de collage des timbres sur des enveloppes afin de vous faire gagner du temps. Pour toutes commande au delà de 500 enveloppes par mois, merci de nous contacter directement.
    </p>
        <div class="tables-tarifs">
      <h5 style="margin-top: 30px">
        Tarif Pack de Lettre Suivie 2020 – (Affranchissement,enveloppes et stickers suivies
        inclus)
      </h5>
      <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th class="table-headers" scope="col">Poids</th>
              <th class="table-headers" scope="col">Prix Timply</th>
              <th class="table-headers" scope="col">Prix La Poste</th>
              <th class="table-headers" scope="col">Économie</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th class="table-headers" scope="row">20g</th>
              <td style="font-weight: 1000;">1.27</td>
              <td>1.42</td>
              <td>27%</td>
            </tr>
            <tr>
              <th class="table-headers" scope="row">100g</th>
              <td style="font-weight: 1000;">2.15</td>
              <td>2.39</td>
              <td>14%</td>
            </tr>
            <tr>
              <th class="table-headers" scope="row">250g</th>
              <td style="font-weight: 1000;">3.89</td>
              <td>4.33</td>
              <td>26%</td>
            </tr>
            <tr>
              <th class="table-headers" scope="row">500g</th>
              <td style="font-weight: 1000;">5.64</td>
              <td>6.27</td>
              <td>30%</td>
            </tr>
            <tr>
              <th class="table-headers" scope="row">3kg</th>
              <td style="font-weight: 1000;">7.38</td>
              <td>8.21</td>
              <td>23%</td>
            </tr>
          </tbody>
        </table>
      </div>
    <div class="tables-tarifs">
      <h5 style="margin-top: 30px">
        Tarif Pack de Lettre Verte 2020 – (Affranchissement et enveloppes
        inclus)
      </h5>
      <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th class="table-headers" scope="col">Poids</th>
              <th class="table-headers" scope="col">Prix Timply</th>
              <th class="table-headers" scope="col">Prix La Poste</th>
              <th class="table-headers" scope="col">Économie</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th class="table-headers" scope="row">20g</th>
              <td style="font-weight: 1000;">0.87</td>
              <td>0.97</td>
              <td>10%</td>
            </tr>
            <tr>
              <th class="table-headers" scope="row">100g</th>
              <td style="font-weight: 1000;">1.74</td>
              <td>1.94</td>
              <td>10%</td>
            </tr>
            <tr>
              <th class="table-headers" scope="row">250g</th>
              <td style="font-weight: 1000;">3.49</td>
              <td>3.88</td>
              <td>10%</td>
            </tr>
            <tr>
              <th class="table-headers" scope="row">500g</th>
              <td style="font-weight: 1000;">5.24</td>
              <td>5.82</td>
              <td>10%</td>
            </tr>
            <tr>
              <th class="table-headers" scope="row">3kg</th>
              <td style="font-weight: 1000;">6.98</td>
              <td>7.76</td>
              <td>10%</td>
            </tr>
          </tbody>
        </table>
      </div>
      <h5 style="margin-top: 30px">
        Tarif Pack de Lettre Prioritaire 2020 – (Affranchissement et enveloppes
        inclus)
      </h5>
      <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th class="table-headers" scope="col">Poids</th>
              <th class="table-headers" scope="col">Prix Timply</th>
              <th class="table-headers" scope="col">Prix La Poste</th>
              <th class="table-headers" scope="col">Économie</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th class="table-headers" scope="row">20g</th>
              <td>1.04</td>
              <td>1.16</td>
              <td>10%</td>
            </tr>
            <tr>
              <th class="table-headers" scope="row">100g</th>
              <td>2.09</td>
              <td>2.32</td>
              <td>10%</td>
            </tr>
            <tr>
              <th class="table-headers" scope="row">250g</th>
              <td>4.17</td>
              <td>4.64</td>
              <td>10%</td>
            </tr>
            <tr>
              <th class="table-headers" scope="row">500g</th>
              <td>6.26</td>
              <td>6.96</td>
              <td>10%</td>
            </tr>
            <tr>
              <th class="table-headers" scope="row">3kg</th>
              <td>8.35</td>
              <td>9.28</td>
              <td>10%</td>
            </tr>
          </tbody>
        </table>
      </div>
      <h5 style="margin-top: 30px">
        Tarif Pack de Lettre Prioritaire Internationale 2020 – (Affranchissement et enveloppes
        inclus)
      </h5>
      <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th class="table-headers" scope="col">Poids</th>
              <th class="table-headers" scope="col">Prix Timply</th>
              <th class="table-headers" scope="col">Prix La Poste</th>
              <th class="table-headers" scope="col">Économie</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th class="table-headers" scope="row">20g</th>
              <td style="font-weight: 1000;">1.26</td>
              <td>1.40</td>
              <td>10%</td>
            </tr>
            <tr>
              <th class="table-headers" scope="row">100g</th>
              <td style="font-weight: 1000;">2.52</td>
              <td>2.80</td>
              <td>10%</td>
            </tr>
            <tr>
              <th class="table-headers" scope="row">250g</th>
              <td style="font-weight: 1000;">6.30</td>
              <td>7.00</td>
              <td>10%</td>
            </tr>
            <tr>
              <th class="table-headers" scope="row">500g</th>
              <td style="font-weight: 1000;">10.08</td>
              <td>11.20</td>
              <td>10%</td>
            </tr>
            <tr>
              <th class="table-headers" scope="row">2kg</th>
              <td style="font-weight: 1000;">17.64</td>
              <td>19.60</td>
              <td>10%</td>
            </tr>
             <tr>
              <th class="table-headers" scope="row">3kg</th>
              <td style="font-weight: 1000;">30.24</td>
              <td>33.60</td>
              <td>10%</td>
            </tr>
          </tbody>
        </table>
      </div>
      <h5 style="margin-top: 30px">
        Tarif Pack de Lettre Recommandée 2020 – (Affranchissement et enveloppes
        inclus)
      </h5>
      <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th class="table-headers" scope="col">Poids</th>
              <th class="table-headers" scope="col">Prix Timply</th>
              <th class="table-headers" scope="col">Prix La Poste</th>
              <th class="table-headers" scope="col">Économie</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th class="table-headers" scope="row"> R1 20g</th>
              <td style="font-weight: 1000;">3.87</td>
              <td>4.30</td>
              <td>20%</td>
            </tr>
            <tr>
              <th class="table-headers" scope="row">R1 100g</th>
              <td style="font-weight: 1000;">4.95</td>
              <td>5.50</td>
              <td>20%</td>
            </tr>
            <tr>
              <th class="table-headers" scope="row"> R1 250g</th>
              <td style="font-weight: 1000;">6.03</td>
              <td>6.70</td>
              <td>20%</td>
            </tr>
            <tr>
              <th class="table-headers" scope="row">R1 500g</th>
              <td style="font-weight: 1000;">7.06</td>
              <td>7.85</td>
              <td>20%</td>
            </tr>
            <tr>
              <th class="table-headers" scope="row">R1 1kg</th>
              <td style="font-weight: 1000;">8.10</td>
              <td>9.00</td>
              <td>10%</td>
            </tr>
             <tr>
              <th class="table-headers" scope="row">R1 2kg</th>
              <td style="font-weight: 1000;">9.63</td>
              <td>10.70</td>
              <td>10%</td>
            </tr>
             <tr>
              <th class="table-headers" scope="row">R1 3kg</th>
              <td style="font-weight: 1000;">10.73</td>
              <td>11.93</td>
              <td>10%</td>
            </tr>
            <tr>
              <th class="table-headers" scope="row"> R2 20g</th>
              <td style="font-weight: 1000;">4.54</td>
              <td>5.05</td>
              <td>10%</td>
            </tr>
            <tr>
              <th class="table-headers" scope="row">R2 100g</th>
              <td style="font-weight: 1000;">5.58</td>
              <td>6.20</td>
              <td>10%</td>
            </tr>
            <tr>
              <th class="table-headers" scope="row"> R2 250g</th>
              <td style="font-weight: 1000;">6.70</td>
              <td>7.45</td>
              <td>10%</td>
            </tr>
            <tr>
              <th class="table-headers" scope="row">R2 500g</th>
              <td style="font-weight: 1000;">7.69</td>
              <td>8.55</td>
              <td>10%</td>
            </tr>
            <tr>
              <th class="table-headers" scope="row">R2 1kg</th>
              <td style="font-weight: 1000;">8.77</td>
              <td>9.75</td>
              <td>10%</td>
            </tr>
            <tr>
              <th class="table-headers" scope="row">R2 2kg</th>
              <td style="font-weight: 1000;">10.26</td>
              <td>11.40</td>
              <td>10%</td>
            </tr>
            <tr>
              <th class="table-headers" scope="row">R2 3kg</th>
              <td style="font-weight: 1000;">11.36</td>
              <td>12.63</td>
              <td>10%</td>
            </tr>
             <tr>
              <th class="table-headers" scope="row"> R3 20g</th>
              <td style="font-weight: 1000;">5.58</td>
              <td>6.20</td>
              <td>10%</td>
            </tr>
            <tr>
              <th class="table-headers" scope="row">R3 100g</th>
              <td style="font-weight: 1000;">6.57</td>
              <td>7.30</td>
              <td>10%</td>
            </tr>
            <tr>
              <th class="table-headers" scope="row"> R3 250g</th>
              <td style="font-weight: 1000;">7.74</td>
              <td>8.60</td>
              <td>10%</td>
            </tr>
            <tr>
              <th class="table-headers" scope="row">R3 500g</th>
              <td style="font-weight: 1000;">8.64</td>
              <td>9.60</td>
              <td>10%</td>
            </tr>
            <tr>
              <th class="table-headers" scope="row">R3 1kg</th>
              <td style="font-weight: 1000;">9.76</td>
              <td>10.85</td>
              <td>10%</td>
            </tr>
            <tr>
              <th class="table-headers" scope="row">R3 2kg</th>
              <td style="font-weight: 1000;">11.34</td>
              <td>12.60</td>
              <td>10%</td>
            </tr>
             <tr>
              <th class="table-headers" scope="row">R3 2kg</th>
              <td style="font-weight: 1000;">12.40</td>
              <td>13.78</td>
              <td>10%</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
      <%= link_to 'Commandez',packs_path, class: "btn btn-tarifs center-block" %>
</div>
</div>

<%= render'shared/footer'%>

