<div class="cover" style="background: linear-gradient(#0052D4, #4364F7,#6FB1FC);
 url(<%= image_path 'banner2.png' %>);">

  <div class="container">
     <h1 >Nos packs d'enveloppes pré-timbrées</h1>

    <div class="row justify-content-md-center">




        <% @packs.each do |pack|  %>
      <div class="col-md-3 col-sm-12">
<div class="cardproduit ">
  <div class="cardproduit-img" style="background-image:url(https://i.ibb.co/ZYTRSrw/minipack.jpg);">
    <div class="overlay">
      <div class="overlay-content">
         <%= link_to pack.title, pack_path(pack) %>
      </div>
    </div>
  </div>

  <div class="cardproduit-content">
    <a href="#!">
      <h2><%= pack.title %></h2>
      <p>Économisez jusqu'a 20% sur vos envois.</p>

    </a>
  </div>
</div>
</div>







        <% end %>
      </div>
    </div>
  </div>

<%=render'shared/footer'%>
