<div class="container">
  <div class="row">
    <div class="margin">
      <% @packs.each do |pack|  %>
        <div class="col col-xs-12 col-sm-6">
          <div class="card">
            <div class="post-content">
              <h1 class=" title"> <%= pack.title %></h1>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>