.banner {
  color: white;
  text-align: center;
  height: 100vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.flex-product {
  margin-top: 10%;
  text-align: center;
}

.confirm-data {
  display: flex;
  justify-content: center;
  margin-top: 3px;
}

.confirm-data label {
  margin-left: 5px;
}

.banner-content {
  display: flex;
  flex-direction: column;
  color: white;
  text-align: center;
  z-index: 1;
}

.banner-content .btn {
  margin-top: 50px;
  font-size: 21px;
}

.banner-sign-content .btn {
  margin-top: 18px;
  width: 170px;
  font-size: 21px;
}

.banner-sign-content h1 {
  margin-bottom: 60px;
}

.banner h1 {
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}

.banner h2 {
  font-size: 32px;
}

.cover {
  color: white;
  text-align: center;
  height: 100vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.banner-confirmation-order {
  color: black;
  background-size: cover !important;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card_confirm_order2 {
  width: 40vw;
  height: 88vh;
  text-align: center;
  background-color: white;
  border-radius: 5px;
  display: flex;
  justify-content: baseline;
  align-items: center;
  flex-direction: column;
}

#longueur {
  max-width: 76%;
}

.card_recapitulatif2 {
  width: 80%;
  height: 58%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  color: black;
  margin-top: 10px;
}

@media only screen and (min-device-width: 375px) and (max-width: 675px) {
  .homeright {
    margin-right: 20px;
  }
  .card_confirm_order2 {
    width: 93vw;
    height: 95vh;
    text-align: center;
    background-color: white;
    border-radius: 5px;
    display: flex;
    justify-content: baseline;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
  }

  .card_confirm_order2 p {
    font-size: 15px;
  }
  .card_recapitulatif2 {
    width: 79%;
    height: 55%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    color: black;
    margin-top: 35px;
  }

  .line_confirmation {
    border-bottom: 2px solid #518ce4;
    width: 80%;
    padding: 0%;
    display: block;
    justify-content: center;
    margin-top: 3px;
  }
}

.redirection {
  padding-top: 11px;
}

// Page d'inscription

.banner-inscription {
  background-size: cover !important;
}

.card_contact {
  text-align: center;
  background-color: white;
  border-radius: 5px;
  display: flex;
  justify-content: baseline;
  align-items: center;
  flex-direction: column;
  margin-bottom: 2%;
  margin-top: 3%;
  font-size: 13px;
}
.card_inscription {
  text-align: center;
  background-color: white;
  border-radius: 5px;
  display: flex;
  justify-content: baseline;
  align-items: center;
  flex-direction: column;
  margin-bottom: 2%;
  margin-top: 5%;
  font-size: 13px;
  width: 40vw;
  #new_user {
    padding: 1vh 2vw;
  }
}

.inscriptionflex {
  display: flex;
  justify-content: center;
}

.card_inscription h2 {
  font-size: 30px;
  margin: 20px 0;
}

.blanco {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}

.blanco a {
  color: white;
}

.blanco a:hover {
  color: black;
  font-weight: bold;
}

//iphone 6
@media only screen and (min-device-width: 375px) and (max-width: 675px) {
  .form-row {
    margin: 0 12px;
  }
}

//iphone 6+
@media only screen and (-webkit-min-device-pixel-ratio: 3) and (max-device-width: 736px) and (min-device-width: 414px) {
  .card_inscription {
    width: 70vw !important;
    text-align: center;
    background-color: white;
    border-radius: 5px;
    display: flex;
    justify-content: baseline;
    align-items: center;
    flex-direction: column;
    margin-bottom: 2%;
    margin-top: 3%;
    font-size: 12px;
  }

  .card_inscription h2 {
    font-size: 25px;
  }
}

@media only screen and (min-device-width: 768px) and (max-width: 1024px) {
  .banner-confirmation-order {
    color: black;
    background-size: cover !important;
    flex-direction: column;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
  }

  .card_inscription {
    width: 59vw;

    text-align: center;
    background-color: white;
    border-radius: 5px;
    display: flex;
    justify-content: baseline;
    align-items: center;
    flex-direction: column;
    margin-bottom: 2%;
    margin-top: 3%;
  }
}

@media only screen and (min-device-width: 1024px) and (max-width: 1036px) {
  .card_inscription {
    width: 59vw;

    text-align: center;
    background-color: white;
    border-radius: 5px;
    display: flex;
    justify-content: baseline;
    align-items: center;
    flex-direction: column;
    margin-bottom: 2%;
    margin-top: 3%;
  }

  .banner-inscription {
    color: black;
    position: relative;
    background-size: cover !important;
    flex-direction: column;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
  }
}

// Page de connexion
.banner-connexion {
  color: black;
  background-size: cover !important;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.card_connexion {
  width: 22vw;
  height: 51vh;
  text-align: center;
  background-color: white;
  border-radius: 5px;
  display: flex;
  justify-content: baseline;
  align-items: center;
  flex-direction: column;
  margin-bottom: 2%;
  margin-top: 3%;
  font-size: 13px;
}

.inputinscri {
  margin-left: 14px;
}

@media only screen and (max-device-width: 640px) {
  .card_connexion {
    width: 80vw;
    height: 60vh;
  }

  .card_confirm_order2 {
    width: 92vw;
    height: 169vh;
    text-align: center;
    background-color: white;
    border-radius: 5px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 50px;
  }

  .writing-content p {
    font-size: 20px;
    padding: 4px 71px;
    max-width: 100% !important;
    margin-left: 0% !important;
  }

  .banner-confirmation-order {
    color: black;
    background-size: cover !important;
    flex-direction: column;
    display: flex;
    height: 183vh;
    justify-content: center;
    align-items: center;
  }

  .card_edit {
    width: 86vw !important;
    height: 156vh !important;
    text-align: center;
    background-color: white;
    border-radius: 5px;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-direction: column;
    margin-bottom: 0%;
    margin-top: 6%;
    font-size: 11px;
  }

  .card_inscription {
    width: 82vw;

    text-align: center;
    background-color: white;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 2%;
    margin-top: 3%;
    font-size: 13px;
  }
}

@media only screen and (min-device-width: 375px) and (max-width: 675px) {
  .card_connexion {
    width: 81vw;
    height: 59vh;
    text-align: center;
    background-color: white;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 2%;
    margin-top: 3%;
    font-size: 13px;
  }
}

@media only screen and (min-device-width: 768px) and (max-width: 1024px) {
  .card_connexion {
    width: 43vw;
    height: 35vh;
    text-align: center;
    background-color: white;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 2%;
    margin-top: 3%;
    font-size: 13px;
  }
}

// Page de mot de passe oublié
.card_mdpf {
  width: 33vw;
  height: 36vh;
  text-align: center;
  background-color: white;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 2%;
  margin-top: 3%;
  font-size: 13px;
}

@media only screen and (min-device-width: 375px) and (max-width: 675px) {
  .card_mdpf {
    width: 82vw;
    height: 36vh;
    text-align: center;
    background-color: white;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 2%;
    margin-top: 3%;
    font-size: 13px;
  }
}

@media only screen and (min-device-width: 768px) and (max-width: 1024px) {
  .card_mdpf {
    width: 73vw;
    height: 24vh;
    text-align: center;
    background-color: white;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 2%;
    margin-top: 3%;
    font-size: 13px;
  }
}

// Page d'edit

.card_edit {
  width: 33vw;
  height: 130vh;
  text-align: center;
  background-color: white;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 2%;
  margin-top: 3%;
  font-size: 13px;
}

@media only screen and (min-device-width: 375px) and (max-width: 675px) {
  .card_edit {
    width: 87vw;
    height: 119vh;
    text-align: center;
    background-color: white;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 2%;
    margin-top: 3%;
    font-size: 13px;
  }
}

@media only screen and (min-device-width: 768px) and (max-width: 1024px) {
  .card_edit {
    width: 51vw;
    height: 81vh;
    text-align: center;
    background-color: white;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 2%;
    margin-top: 3%;
    font-size: 13px;
  }
}

.banner-apropos {
  color: black;
  background-size: cover !important;
  flex-direction: column;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
}

.color-overlay {
  background-color: #000000;

  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0.8;
}

.color_overlay_banner {
  background-color: #000000;

  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0.5;
}

.writing-content {
  z-index: 1;
  color: white;
  margin-top: 6%;
  font-weight: bold;
}
.writing-content h1 {
  font-size: 40px;
}

.writing-content p {
  font-size: 20px;
  padding: 4px 71px;
  max-width: 52%;
  margin-left: 24%;
}

.writing-content a {
  color: white;
  text-decoration: underline;
}

@media only screen and (min-device-width: 375px) and (max-width: 675px) {
  .banner-apropos {
    color: black;
    background-size: cover !important;
    flex-direction: column;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
  }

  .writing-content p {
    font-size: 20px;
    padding: 4px 71px;
    max-width: 100%;
    margin-left: 5%;
  }
}

@media only screen and (min-device-width: 768px) and (max-width: 1024px) {
  .banner-apropos {
    color: black;
    background-size: cover !important;
    flex-direction: column;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
  }
}

.marginsupprimerblock {
  display: flex;
  flex-direction: column;
  padding-top: 13px;
  font-weight: bolder;
}

.marginsupprimer {
  font-weight: bolder;
  margin: 10px 0;
}
