.btn-primary {
    background-color: #ffffff;
    border: 1px solid #308edc;;
    border-radius: 19px;
   padding:  7px 17px;
  }

.btn-nav {
  color: #308edc;
  border: 1px solid #308edc;
  border-radius: 19px;
  padding:  7px 17px;
  }

.btn-nav:hover {
  background-color:#308edc;
  color: #ffffff;
}


 .btn-cta-nav  {
   border: 1px solid #308edc;
   border-radius: 19px;
   color: white;
   background-color: #308edc;
   padding:  7px 17px;
   margin-right: 20px;
 }

  a:hover {
  color: #08264D
  }


  .btn:hover {
      color: #08264D
  }


 .btn-cta {
    border: 1px solid #308edc;
    border-radius: 7px;
    color: white;
    background-color: #308edc;
    padding: 11px 16px;
  }

  .btn-cta a {
    color: white;
  }

  .btn-card {
        padding: 7px 41px;
         border: 1px solid #308edc;
    border-radius: 7px;
    color: white;
    background-color: #308edc;
        margin-left: 10px;
  }


 .btn-inscription {
    border: 1px solid #308edc;
    border-radius: 7px;
    color: white;
    background-color: #308edc;
    padding: 6px 16px;
    margin-top: 1%;
}



.btn-modal {
       background-color: #308edc;;
    padding: 0.375rem 15rem;
    border-radius: 50px;
    margin-top: 29px;
    margin-bottom: 14px;
    color: white;
 }
