.stripe-button-el span{
  width: 98px;
  font-family: "Montserrat";
}

.btn-primary {
  background-color: #ffffff;
  border: 1px solid #308edc;
  border-radius: 19px;
  padding:  7px 17px;
  color: #308edc;
}

.btn-nav {
  color: #308edc;
  border: 1px solid #308edc;
  border-radius: 19px;
  padding:  7px 17px;
  }

.btn-nav:hover {
  background-color:#308edc;
  color: #ffffff;
}


 .btn-cta-nav  {
   border: 1px solid #308edc;
   border-radius: 19px;
   color: white;
   background-color: #308edc;
   padding:  7px 17px;
   margin-right: 20px;
 }

  a:hover {
  color: #08264D
  }


  .btn:hover {
      color: #08264D
  }


.btn-tarifs {
    border: 1px solid #308edc;
    border-radius: 25px;
    color: white;
    background-color: #308edc;
    padding: 11px 16px;
    width: 18%;
    margin-bottom: 20px;
    margin-top: 20px;
    align-self: center;
  }

.btn-cta2 {
    border: 1px solid #308edc;
    border-radius: 25px;
    color: white;
    background-color: #308edc;
    align-self: center;
  }

 .btn-cta {
    border: 1px solid #308edc;
    border-radius: 25px;
    color: white;
    background-color: #308edc;
    padding: 11px 16px;
    width: 39%;
    align-self: center;
  }

  .btn-cta a {
    color: white;
  }

  .btn-card {
        padding: 7px 41px;
         border: 1px solid #308edc;
    border-radius: 7px;
    color: white;
    background-color: #308edc;
        margin-left: 10px;
  }


 .btn-inscription {
    border: 1px solid #308edc;
    border-radius: 7px;
    color: white;
    background-color: #308edc;
    padding: 6px 16px;
    margin-top: 1%;
}



.btn-modal {
  background-color: #308edc;;
  border-radius: 50px;
  margin-top: 29px;
  margin-bottom: 14px;
  color: white;
  width: 100%;
 }


