.card {
  width: 100%;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  height: 50vh;
  margin-bottom: 40px;
  background-color: white;
  border-radius: 9px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  img {
   padding: 6px;
   width: 25%;
  }
}
// Samsung

@media only screen  and (min-device-width: 360px) and (max-device-width: 640px) {

  .card {
    width: 75vw;
    height: 63vh;
    margin-left: 15px;
  }


  .cover {
      color: white;
  text-align: center;
     height: auto !important;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
}



  .post-content {
    background: white;
    width: 100%;
    border-radius: 12px;
    padding: 20px;
    margin-bottom: 12px;
}

.writing h1 {
    font-size: 40px !important;
    font-weight: bold;
    text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
    color: white;
    margin-right: 3px;
}


}


@media screen and (device-width: 360px) and (device-height: 740px){


  .card {
    width: 79vw;
    height: 57vh;
    margin-left: 12px;
  }

.writing h1 {
    font-size: 40px !important;
    font-weight: bold;
    text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
    color: white;
    margin-right: 3px;
}
}




// iphone X


// iphone 6
@media only screen
 and (min-device-width: 375px)
and (max-width: 675px)
and (-webkit-min-device-pixel-ratio: 2){
  .card {
  width: 75vw ;
  height: 62vh;
  }

 .card-image {
   height: 50% ;
   }

.cover {
      color: white;
  text-align: center;
   height: auto !important;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;

}

.writing h1 {
    font-size: 50px !important;
    font-weight: bold;
    text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
    color: white;
    margin-right: 4px;
}

}

// iphone 6+
@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3) {
 .card {
    width: 80vw;
    height: 66vh;
}

.cover{
      color: white;
  text-align: center;

  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
}



}

// ipad
@media only screen  and (min-device-width: 768px) and (max-device-width: 1024px) {

  .card {
    height: 35vh;
    width: 80%;
  }


.row {

    margin-right: 11px;
}
  .card-image {
    height: 47% !important;
  }
}




.card-image {
  height: 46%;
  width: 100%;
  background-size: cover;
  border-radius: 7px 7px 0px 0px;
  display: flex;
}





.post-content {

      background: white;
    width: 100%;
    border-radius: 12px;
    padding: 20px;
    margin-bottom: 24px;
  }

.post-content p {
  font-weight: 900;
}


.sub_title {
     color: black;
    font-size: 15px;
    font-weight: 400;
    float: left;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}




  .sub_title2 {
    color: black;
    font-size: 15px;
    font-weight: 400;
    float: left;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}




.margin {
  margin-top: 4%;
}

.margin_bta {
  margin-top: 10px;
}

.writing h1 {
   font-size: 47px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  color: white;
}

