

.card_password {
    width: 32vw;
    height: 49vh;
    text-align: center;
    background-color: white;
    border-radius: 5px;
    display: flex;
    justify-content: baseline;
    align-items: center;
    flex-direction: column;
    margin-bottom: 2%;
    margin-top: 3%;
    font-size: 13px;
}

.form-control {
    font-size: 14px;
    margin-right: 14px;
    padding: 10px 52px;
  }

abbr[title="required"] {
  display: none;
}
